h1, p{
      text-align: center;
}

.listBackground:hover{
      background-color: blue;
}

li:active{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, ol{
      list-style: none;
}